.detailContainer{
       text-align: right;
       margin-right: 50px;
       padding-top: 100px;
}


.title{
    color: red;
}

.description{
    text-align: right;
    width: 450px;
    margin-left: 65%;
}
.price{
    margin-top: 20px;
    margin-right: 32px;
}
.shopingStore{
    margin-right: 32px;
}


